In [55]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [56]:
index=[1,2,3]
lst=['Omar','Fahad','Nasser']
ser=pd.Series(lst,index=index)
ser

1      Omar
2     Fahad
3    Nasser
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [57]:
ser.index=[11,12,13]
ser

11      Omar
12     Fahad
13    Nasser
dtype: object

## Q3: Retrieve First and second elements.

In [58]:
ser[:2]

C:\Users\v3vga\AppData\Local\Temp\ipykernel_8096\3866699745.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  ser[:2]

11     Omar
12    Fahad
dtype: object

## Q4: Add duplicate elements, then remove the duplication.

In [59]:
ser2 = pd.Series({11: 'Omar'})
ser = ser.append(ser2)
ser
ser.drop_duplicates()

C:\Users\v3vga\AppData\Local\Temp\ipykernel_8096\3600830339.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser = ser.append(ser2)

11      Omar
12     Fahad
13    Nasser
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name, GPA).

In [60]:
data = {
  'ID': [1234567,9876543,2345432],
  'Name': ['Omar', 'Fahad', 'Nasser'],
  'GPA': [4.33, 4, 3.88],
  }
students = pd.DataFrame(data,columns=['ID','Name','GPA'])
students

        ID    Name   GPA
0  1234567    Omar  4.33
1  9876543   Fahad  4.00
2  2345432  Nasser  3.88

## Q6: Read educ_figdp_1_Data.csv file and print the head.

In [61]:
edu = pd.read_csv('educ_figdp_1_Data.csv')
edu.head()

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e

## Q7: Give an example shows the difference between loc and slicing?
**Note:**
- loc use the index labels as references.
- slice use the position as references.

In [62]:
names = {10: 'Omar', 11: 'Fahad', 12: 'Nasser'}
s = pd.Series(names)

# Using loc to select elements
print("Using loc:")
print(s.loc[[10, 11]]) #In loc you use the index lables as references.
print("-------------------------------------------------------")
# Using slicing to select elements
print("Using slicing:")#Slicing doesn't use the index labels as references.
print(s[0:2])

Using loc:
10     Omar
11    Fahad
dtype: object
-------------------------------------------------------
Using slicing:
10     Omar
11    Fahad
dtype: object

C:\Users\v3vga\AppData\Local\Temp\ipykernel_8096\3471291176.py:10: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  print(s[0:2])